.footer_header{
    transform: translate(30px, 60px);
    color:#5e9aa4;
    font-size:30px;
    font-family: Roboto-Bold, Roboto;
    font-weight:700
}

.footer_text{
  transform: translate(30px,80px);
  color: #fff;
  font-size: 15px;
  font-family: Roboto-Light, Roboto;
  font-weight: 300;
  min-width: 200px;
  letter-spacing: 0.025em;
}

.footer_line{ 
    width: 40px;
    transform: translate(30px, 60px);
    height: 4px;
    border-radius: 5px;
    background-color: #5e9aa4;
}

.content_wrapper{
  display: inline-flex;
  justify-content: center;
}
